
@{
    ViewBag.Title = "DetailShop";
    Layout = "~/Views/Shared/Home.cshtml";
}
<link href="~/Content/Detail/Detail.css" rel="stylesheet" />
<div id="body1">
    <div class="left-side">
        <div class="thumbnails">
            <img src="~/Pictures/2.png" style="width:50px;height:50px" />
            <img src="~/Pictures/3.png" style="width:50px;height:50px" />
            <img src="~/Pictures/4.png" style="width:50px;height:50px" />
            <img src="~/Pictures/5.png" style="width:50px;height:50px" />
            <img src="~/Pictures/6.png" style="width:50px;height:50px" />
        </div>

        <div class="main-image">
            <img class="img" src="~/Pictures/1.png" style="width:250px;height:350px" />
        </div>
    </div>


    <div class="mid-side">
        <div style="color:blue;"> Visit the Sherosa Store</div>
        <div style="font-size:20px">Sherosa Women's 3/4 Sleeve Shirts V Neck Casual Henley Work Tops Blouses</div>

        <div class="stars">
            <div class="number" style="font-size:16px;">4.2 </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
            <div style="color:blue;">3,159 rattings</div>
        </div>

        <hr class="divider" />

        <div class="price">
            <span style="color:red;font-size:20px;font-weight:400;"> -11%</span>
            <span style="font-weight:bold;font-size:20px;"> <sup>$</sup>19<sub>87</sub> </span>
        </div>
        <br />
        <div>Typikal price: $22.39</div>
        <br />
        <span>$45.08 Shipping & Import Changes to VietNam </span>
        <span>Details</span>
        <div class="sale">
            <span class="save5">Save 5%</span>
            <span>on 2 select item(s)</span>
            <span>Shop items</span>
        </div>
        <span>Color: </span>
        <span style="font-weight:bold;">Blue</span>
        <br />
        <!--chon san pham-->
        <button>
            <div class="product-card">
                <!--1-->
                <img src="~/Pictures/light-blue.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />

            </div>
        </button>
        <button>
            <div class="product-card">
                <!--2-->
                <img src="~/Pictures/red.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--3-->
                <img src="~/Pictures/black.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--4-->
                <img src="~/Pictures/white.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>
        <button>
            <div class="product-card">
                <!--1-->
                <img src="~/Pictures/light-blue.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />

            </div>
        </button>
        <button>
            <div class="product-card">
                <!--2-->
                <img src="~/Pictures/red.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--3-->
                <img src="~/Pictures/black.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--4-->
                <img src="~/Pictures/white.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>
        <button>
            <div class="product-card">
                <!--1-->
                <img src="~/Pictures/light-blue.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />

            </div>
        </button>
        <button>
            <div class="product-card">
                <!--2-->
                <img src="~/Pictures/red.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--3-->
                <img src="~/Pictures/black.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--4-->
                <img src="~/Pictures/white.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>
        <button>
            <div class="product-card">
                <!--1-->
                <img src="~/Pictures/light-blue.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />

            </div>
        </button>
        <button>
            <div class="product-card">
                <!--2-->
                <img src="~/Pictures/red.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--3-->
                <img src="~/Pictures/black.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--4-->
                <img src="~/Pictures/white.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>
        <button>
            <div class="product-card">
                <!--1-->
                <img src="~/Pictures/light-blue.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />

            </div>
        </button>
        <button>
            <div class="product-card">
                <!--2-->
                <img src="~/Pictures/red.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--3-->
                <img src="~/Pictures/black.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--4-->
                <img src="~/Pictures/white.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>
        <button>
            <div class="product-card">
                <!--1-->
                <img src="~/Pictures/light-blue.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />

            </div>
        </button>
        <button>
            <div class="product-card">
                <!--2-->
                <img src="~/Pictures/red.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--3-->
                <img src="~/Pictures/black.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <button>
            <div class="product-card">
                <!--4-->
                <img src="~/Pictures/white.png" style="width:65px;height:70px;" />
                <hr class="divider1" />
                <span>$19.87</span>
                <br /> <br /> <br />
            </div>
        </button>

        <br />
        <!---->
        <span>Size: </span>
        <span style="font-weight:bold">X-Large</span>
        <div class="size">
            <div class="size-button"><span>Small</span></div>
            <div class="size-button"><span>Medium</span></div>
            <div class="size-button"><span>Large</span></div>
            <div class="size-button"><span>X-Large</span></div>
            <div class="size-button"><span>XX-Large</span></div>
        </div>

        <span>Size Chart</span>
        <div style="font-weight:bold;font-size:25px;">Product details</div>

        <table>
            <tr>
                <th>Fabric type</th>
                <th>65% Polyester,30% Rayon,5% Spandex</th>
            </tr>

            <tr>
                <td>Care instructors</td>
                <td>Hand Wash Only</td>
            </tr>

            <tr>
                <td>Origin </td>
                <td>Imported</td>
            </tr>
            <tr>
                <td>Closure type</td>
                <td>Pull On</td>
            </tr>
        </table>
        <hr class="divider" />

        <div style="font-weight:bold;font-size:20px">About this item</div>
        <div>Stylish Design: The basic tops with 3/4 length sleeve, v neck, loose style,solid color,curved hem and front pleated design;it will never go out of style</div>
        <div>This elegant shirts is perfect for women,ladies and juniors V neck details will make the neck appear longer.The white shirt may be a bit see-through,light-colored underwear is recommended</div>
        <div>Suitable Occasion: The flowy shirts with three-quarter sleeve is suit for casual, work,office,home,shopping,daily life.The notch v neck tops will be the pefect wear with in spring summer autumn and winter</div>

        <div>See more</div>

        <div>Report an issue with this product or seller</div>
        <hr class="divider" />
        <div>Similar item to consider</div>
        <div class="similar-item">
            <img src="~/Pictures/6.png" width="100" height="100" />
            <div class="text-column">
                <span class="text">Phenix Essentials Women's 3/4 Sleeve Button Popower Shirt, Loose-Fit V-Neck Blouse'</span>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div style="color:blue;">4472</div> <br />

                </div>
                <div>$7.90</div>
            </div>
        </div>
    </div>

    <div class="right-side">
        <div class="khung">
            <p><sup>$</sup>19<sub>87</sub></p>
            <br />
            <div class="title">
                <p>$45.08 Shipping & Import</p>
                <p>Chanrges to VietNam <span style="color:blue;">Detail</span><i class="fa-solid fa-chevron-down"></i></p>
                <p>Delivery <b>Monday,November 10</b></p>
            </div>
            <div class="location1">
                <div> <i class="fa-solid fa-location-dot"></i> </div>
                <div style="font-size:17px;color:blue;">Deliver to Vietnam </div>

            </div>
            <br />
            <b style="font-size:17px;color:red;">Only 1 left in stock - order soon.</b>
            <br />
            <div class="Add">Add to Card</div> <br />
            <div class="Buy">Buy Now</div> <br />
            <table>
                <tr>
                    <th>Ships from </th>
                    <th>Amazon </th>
                </tr>
                <tr>
                    <td>Sold by </td>
                    <td>Shenosa </td>
                </tr>
                <tr>
                    <td>Returns </td>
                    <td>30-day refund / replacement </td>
                </tr>
                <tr>
                    <td>Packaging </td>
                    <td>Ships in product packaging </td>
                </tr>
            </table>

            <i class="fa-solid fa-chevron-down"></i>See move <br />

            <input type="checkbox" /> Add a gift receipt for easy returns
            <hr class="divider" />
            <hr class="divider" />

            <button>Add to List</button>
        </div>
    </div>


    <div class="banner2"></div>
</div>

